.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	width: 100vw;
	background-color: #0000ff;
	position: fixed;
}

.main-header h1 {
	padding: 2px;
	color: white;
	margin: 0;
}

.hamburger-container {
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 20px;
    cursor: pointer;
}

.hamburger {
	display: flex;
	width: 30px;
	height: 5px;
	background-color: #ffffff;
	border-radius: 5px;
}
