.home-page {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-size:38px;
    text-align: center;
}