.home-page {
    width: 100vw;
    height: calc(100vh - 140px);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size:38px;
    text-align: center;
}