.container {
	width: 100vw;
	height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.not-found-title {
    font-size: 60px;
    margin: 170px 0 20px 0;
}

h2 {
    color: red
}

.go-back-btn {
    background-color: rgb(48, 55, 247);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
